/*--------------------------------------------------------------------------------------------------
--------------------------------------------- utilities -------------------------------------------- */
* {
  font-family: "Poppins", sans-serif;
  margin: 0%;
}
main {
  max-width: 1600px;
}
.center {
  text-align: center;
}
.flex {
  display: flex;
}
.m-auto {
  margin: auto;
}

/*--------------------------------------------------------------------------------------------------
---------------------------------------------top-sec styles-------------------------------------------- */

.top-sec {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.919);
  color: aliceblue;
  border-radius: 30px;
  margin-top: 60px;
  justify-content: space-around;
  overflow: hidden;
}

.left {
  padding: 5vw 5vw;
  width: 40%;
  align-self: center;
}
.left h1 {
  font-size: 45px;
  font-weight: 1100;
  margin: 0;
  line-height: 50px;
}
.left p {
  font-size: 16px;
  margin: 10px 0;
}
.left button {
  color: aliceblue;
  padding: 12px 20px;
  font-size: 18px;
  background-color: rgb(223, 37, 4);
  border-radius: 12px;
  border: none;
  margin-top: 15px;
  animation: live 1s ease-in-out infinite alternate;
}
.left button i {
  animation: watch 1s ease-in-out infinite alternate;
}
@keyframes live {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
@keyframes watch {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
    color: rgb(113, 116, 118);
  }
}

.right {
  margin: 0 zvw;
  width: 55%;
  align-self: flex-end;
}
@keyframes player {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.15);
  }
}
.right img:hover {
  animation: player 1s ease-in-out infinite alternate;
}
.right img {
  position: relative;
  width: 100%;
  top: 7px;
 
}

/*--------------------------------------------------------------------------------------------------
---------------------------------------------bottom-sec sttyles-------------------------------------*/
/* b-left styles */

.bottom-sec {
  margin: 7vw auto;
  display: grid;
  grid-template-columns: 280px auto;
  gap: 25px;
  padding-left: 20px;
  padding-right: 20px;
}

.b-left {
  background-color: rgb(13, 13, 13);
  flex-direction: column;
  height: fit-content;
  padding: 20px 40px;
  border-radius: 20px;
}
.b-left a {
  padding: 10px 12px;
  background-color: rgb(254, 254, 254);
  border-radius: 12px;
  border: none;
  margin: 15px 0;
  text-decoration: none;
  font-size: 18px;
  font-weight: 900;
  color: rgb(5, 6, 6);
}
/* b-rigt styles */
.b-right {
  justify-self: flex-end;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
.live {
  border-radius: 20px;
  border: 1px solid rgba(128, 128, 128, 0.301);
}
.live img {
  width: 100%;
}
.live a {
  border: 2px solid gray;
  border-radius: 10px;
  padding: 5px 18px;
  font-size: 12px;
  font-weight: 600;
  display: inline-block;
  text-decoration: none;
  color: #000;
  margin: 10px 10px;
}

.live p {
  margin: 10px 10px;
  font-weight: 700;
}
.live span {
  padding: 0 18px;
}

.view-all {
  color: aliceblue;
  padding: 12px 33px;
  font-size: 23px;
  background-color: rgb(223, 37, 4);
  border-radius: 12px;
  border: none;
  margin: 35px auto;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  width: 100px;
  display: none;
}

/*------------------------------------------------------------------------------------------------------
---------------------------------------------- Footer styles ------------------------------------------- */
footer {
  margin-top: 7vw;
  background-color: #000;
  padding: 60px 0;
}
footer h2 {
  font-size: 45px;
  font-weight: 600;
  color: aliceblue;
  margin: 0%;
}
footer div {
  width: 75%;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 3px solid rgba(128, 128, 128, 0.502);
  margin: 50px auto;
  padding: 50px 0 0;
}
footer div li a {
  text-decoration: none;
  color: rgb(183, 187, 193);
  font-size: 20px;
  margin: 15px 15px;
  display: inline-block;
}
footer p {
  font-size: 25px;
  color: aliceblue;
  margin: 0 25px;
}
footer p a {
  margin: 0 20px;
  color: #fff;
}
/*------------------------------------------------------------------------------------------------------
----------------------------------------------upcoming match styles------------------------------------------- */
.upcoming {
  padding: 35px 65px;
  border-radius: 20px;
  align-items: center;
  justify-content: space-between;
}
.upcoming img {
  width: 45%;
}
.match-name {
  font-size: 20px;
}
.match-detail {
  color: gray;
  font-weight: 300;
  font-size: 15px;
}

/*------------------------------------------------------------------------------------------------------
----------------------------------------------media queries------------------------------------------- */

/*------------------------------ extra large device------------------------------- */
@media only screen and (min-width: 1201px) {
  .left h1 {
    font-size: 75px;
    line-height: 85px;
    margin-bottom: 25px;
  }
  .left p {
    font-size: 20px;
  }
  .left button {
    padding: 16px 25px;
    font-size: 22px;
    border-radius: 16px;
    margin-top: 20px;
  }
  .b-left {
    padding: 30px 50px;
    border-radius: 25px;
  }
  .b-left a {
    padding: 15px 18px;
    border-radius: 16px;
    margin: 18px 0;
    font-size: 22px;
  }
  .bottom-sec {
    grid-template-columns: 400px auto;
  }
  .b-right {
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
  }
  .live a {
    border-radius: 16px;
    padding: 6px 20px;
    font-size: 15px;
    font-weight: 600;
    margin: 12px 12px;
  }
}

/*---------------------------------- tablet device---------------------------- */
@media only screen and (max-width: 940px) {
  .view-all {
    display: block;
  }
  .bottom-sec {
    margin: 7vw auto;
    grid-template-columns: auto;
  }
  .b-left {
    flex-direction: row;
    background-color: #fff;
    justify-content: space-between;
  }
  .b-left a {
    border: 2px solid rgba(128, 128, 128, 0.437);
    width: 25%;
  }
  .b-right {
    grid-template-columns: repeat(2, 1fr);
  }
  .match-name {
    font-size: 19px;
  }
  .match-detail {
    font-size: 13px;
  }
}

/*-------------------------------------- mini-tab device -------------------------- */
@media only screen and (min-width: 600px) and (max-width: 769px) {
  .left {
    padding: 5vw 3vw;
  }
  .left h1 {
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    line-height: 32px;
  }
  .left p {
    font-size: 12px;
    margin: 8px 0;
  }
  .left button {
    padding: 8px 15px;
    font-size: 13px;
    border-radius: 10px;
    margin-top: 12px;
  }
  .b-left a {
    padding: 10px 10px;
    background-color: rgb(254, 254, 254);
    border-radius: 12px;
    border: 2px solid rgba(128, 128, 128, 0.437);
    margin: 15px 0;
    font-size: 15px;
    font-weight: 700;
  }
}

/*------------------------------ mobile device------------------------------- */

@media only screen and (max-width: 600px) {
  .top-sec {
    margin-top: 30px;
    display: block;
    overflow: hidden;
  }
  .left {
    width: 75%;
    margin: auto;
  }
  .left h1 {
    font-size: 28px;
    font-weight: 900;
    line-height: 35px;
    padding: 30px 0 8px;
    text-align: center;
  }
  .left p {
    font-size: 10px;
    text-align: center;
  }
  .left button {
    display: block;
    padding: 8px 18px;
    font-size: 13px;
    border-radius: 10px;
    margin: 15px auto;
    width: 130px;
  }
  .right {
    margin: 0 auto;
    width: 80%;
    align-self: normal;
  }

  .b-right {
    width: 100%;
    justify-self: normal;
    display: grid;
    grid-template-columns: auto;
    gap: 30px;
  }
  .b-left {
    flex-direction: column;
    background-color: #fff;
    justify-content: center;
    padding: 0ch;
  }
  .b-left a {
    border: 2px solid rgba(128, 128, 128, 0.193);
    width: fit-content;
    margin: 0px auto 20px;
    padding: 10px 10px;
    display: block;
    width: 175px;
    font-size: 25px;
  }
  .up {
    width: 75%;
    padding: 10px 5px;
  }
  .view-all {
    display: none;
  }
  footer {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  footer div {
    flex-direction: column;
    padding-top: 0%;
    margin-top: 25px;
  }
  footer div li {
    text-align: center;
  }
  footer div li a {
    margin-bottom: 0%;
  }
}
